<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="gingApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GING</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/results.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
    </head>
    <body ng-controller="SearchResultCtrl">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
                <a id= "brand" class="navbar-brand" href="#">Ging</a>
            </div>
            <form class="search-box input-group">
                <input class="form-control" type="text" ng-model="query" ngTrim=true>
                <span class="input-group-btn">
                    <button class = "btn btn-default glyphicon glyphicon-search" type = "submit" ng-click="search(query)"></button>
                </span>
            </form>
            <div class="search-scope btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-default" ng-class="{active: searchType == 'web'}" ng-click="search(query, 'web')" >Web</button>
              <button type="button" class="btn btn-default" ng-class="{active: searchType == 'image'}" ng-click="search(query, 'image')">Image</button>
              <button type="button" class="btn btn-default" ng-class="{active: searchType == 'video'}" ng-click="search(query, 'video')">Video</button>
            </div>
            WorkOffline<input type="checkbox" ng-model="workOffline"/>
          </div>
        </nav>
        <div ng-cloak>
            <nav ng-show = "showPagination">
              <ul class="pagination">
                <li ng-click="prev()">
                    <a href="#">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span>Prev</span>
                    </a>
                </li>
                <li ng-click="next()">
                    <a href="#">
                        <span>Next</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
              </ul>
            </nav>
            <ul ng-if="searchType == 'web'" id="web-search-results">
                <li class="result" ng-repeat="result in results">
                    <p class="result-link">
                        <a href={{result.link}}>{{result.title}}</a>
                    </p>
                    <p class="result-link-source">{{result.formattedUrl}}</p>
                    <p class="result-description">{{result.snippet}}</p>
                </li>
            </ul>

            <ul ng-if="searchType == 'image'" class="media-search-results">
                <li class="result" ng-repeat="result in results">
                    <a href="{{result.link}}">
                        <img ng-src="{{result.image.thumbnailLink}}" height="{{result.image.thumbnailHeight}}" width="{{result.image.thumbnailWidth}}"/>
                    </a>
                    <p class="image-title">{{result.title | limitTo: 20 }} ...</p>
                </li>
            </ul>

            <ul ng-if="searchType == 'video'" class="media-search-results">
                <li class="result" ng-repeat="result in results" ng-mouseover="videoPreview($event, result.pagemap.videoobject[0].embedurl)" ng-mouseleave="removePreview()">
                    <a href="{{result.pagemap.videoobject[0].embedurl}}" target="blank">
                        <img ng-src="{{result.pagemap.cse_thumbnail[0].src}}" height="{{result.pagemap.cse_thumbnail[0].height}}" width="{{result.pagemap.cse_thumbnail[0].width}}"/>
                    </a>
                    <p class="video-desc">{{result.pagemap.videoobject[0].description | limitTo: 20}} ...</p>
                </li>
            </ul>
            <div ng-cloak id="player_wrapper" ng-show="showPreview" ng-if="searchType == 'video'" my-iframe style="top:{{top}}px; left: {{left}}px"></div>
            <nav ng-show = "showPagination">
              <ul class="pagination">
                <li ng-click="prev()">
                    <a href="#">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span>Prev</span>
                    </a>
                </li>
                <li ng-click="next()">
                    <a href="#">
                        <span>Next</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
              </ul>
            </nav>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
        <script src="js/ging.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>
